.header {
    padding: 20px;
    text-align: center;
    background: #ffffff;
}
/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}  
.main {
    flex: 40%;
    background-color:#F5F5F5;
    padding: 20px;
    text-align: center;
}
.side {
    flex: 30%;
    background-color: #F5F5F5;
    padding: 20px;
}
