<div *ngIf="theEvent">
  <div class="header">
    <h1>{{theEvent.name}}</h1>
    <p>{{theEvent.dateTime}}</p>
  </div>

  <div class="row">
    <div class="main">
      <h2>Event Details</h2>
      <p>{{theEvent.description}}</p>
      <div *ngIf="auth.user">
            <div>
                <button mat-button [routerLink]="['/guests/', theEvent.guid]">
                  <mat-icon>people</mat-icon>
                  View Guest List
                </button>
            </div>
            <div>
                <button mat-button (click)="loadInvite(theEvent)" >
                    <mat-icon>email</mat-icon>
                    View Invitation
              </button>
            </div>
      </div>
    </div>
    <div class="side">
      <div class="fakemap" style="height:200px;">Map?</div>
    </div>
  </div>
</div>
