IntegrationTests/bin/Debug/netcoreapp2.2/source.deps.json
IntegrationTests/obj/IntegrationTests.csproj.nuget.cache
IntegrationTests/obj/IntegrationTests.csproj.nuget.g.props
IntegrationTests/obj/IntegrationTests.csproj.nuget.g.targets
IntegrationTests/obj/project.assets.json
IntegrationTests/obj/Debug/netcoreapp2.2/IntegrationTests.AssemblyInfo.cs
IntegrationTests/obj/Debug/netcoreapp2.2/IntegrationTests.AssemblyInfoInputs.cache
IntegrationTests/obj/Debug/netcoreapp2.2/IntegrationTests.Program.cs
IntegrationTests/obj/Debug/netcoreapp2.2/IntegrationTests.assets.cache
IntegrationTests/obj/Debug/netcoreapp2.2/IntegrationTests.csproj.CoreCompileInputs.cache
IntegrationTests/obj/Debug/netcoreapp2.2/project.razor.json
UnitTests/obj/UnitTests.csproj.nuget.cache
UnitTests/obj/UnitTests.csproj.nuget.g.props
UnitTests/obj/UnitTests.csproj.nuget.g.targets
UnitTests/obj/project.assets.json
UnitTests/obj/Debug/netcoreapp2.2/UnitTests.AssemblyInfo.cs
UnitTests/obj/Debug/netcoreapp2.2/UnitTests.AssemblyInfoInputs.cache
UnitTests/obj/Debug/netcoreapp2.2/UnitTests.Program.cs
UnitTests/obj/Debug/netcoreapp2.2/UnitTests.assets.cache
UnitTests/obj/Debug/netcoreapp2.2/UnitTests.csproj.CoreCompileInputs.cache
IntegrationTests/obj/Debug/netcoreapp2.2/project.razor.json
UnitTests/obj/Debug/netcoreapp2.2/project.razor.json

