
.logo-continer {
  padding-top: 100px;
}

.logo {
  width: 200px;
  height: 30px;
}

.clickable:hover {
  cursor: pointer;
}

.mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}