<div class="container">
  <div class="center">
    <h1>Welcome to Occasions</h1>
    <p>
      This application provides an event planning hub for the general public, event planners, and vendors. By submitting just a little information, a user can find the best available locations and service providers for their event. Details such as competitive pricing and weather are taken into account.
    </p>
    <p>
      Businesses such as venues, caterers, and party suppliers can market and promote themselves with little extra effort. The application will coordinate with vendor scheduling systems to show availability. As an incentive to collaborating businesses, the application is able to recommend pricing and scheduling analytics that will help business owners make smart business decisions for better performance.
    </p>
    <p>
      No longer do people need to waste time sorting through different web results for their needs, this application will be your one stop shop for vendors and party planners alike! This application takes the stress out of all of it, so sit back, relax, and enjoy the party!

    </p>


    <div class="action">
        <button mat-button class="clickable" [routerLink]='["/register-user"]' [routerLinkActive]='["link-active"]'>
          Sign Up
        </button>

  </div>

  </div>

</div>
