<div *ngIf="vendorServiceModel">

<div class="reservation-container">

      <div *ngIf="userEvents?.length > 0"><h1>
        Reserve {{vendorServiceModel.serviceName}}
        <span *ngIf='eventModel != null'> for {{eventModel.name}}</span></h1></div>
       
      <div *ngIf="userEvents == null || userEvents?.length == 0">
        <h1>Reserve {{vendorServiceModel.serviceName}}</h1>
        <div>You do not have any events. Create an event <a routerLink="events">here.</a></div>
      </div>

      <div *ngIf="userEvents?.length > 1" class='col'>
        <form class="form" [formGroup]="reservationForm" (ngSubmit)="onCreate()">
          <mat-form-field class="options">
              <mat-select placeholder="Choose event" formControlName="eventList">
              <mat-option *ngFor="let ev of userEvents" [value]="ev.guid">
                  {{ev.name}}
              </mat-option>
              </mat-select>
          </mat-form-field>
        </form>      
      </div>

    
    
    


   <div class='col'>   
      <div class="vendor-services-item">
        <div class="header">
          <div class="vendor-services-icon">
            <mat-icon>service</mat-icon>
          </div>
          <div>
            <div>
              <h5 class='vendor-services-text'>{{vendorServiceModel.serviceType}}</h5>
            </div>            
          </div>
        </div>
    
        <div>
            <h6>{{vendorServiceModel.serviceName}}</h6>
        </div>
        <div>
            <h6 class='vendor-services-description'>{{vendorServiceModel.serviceDescription}}</h6>
        </div>
        <div>
            <h6 *ngIf="vendorServiceModel.flatFee">Flat fee</h6>
            <h6 *ngIf="!vendorServiceModel.flatFee">Price per unit</h6>
        </div>
        <div>
            <h6>{{vendorServiceModel.price | currency:'USD':symbol:'1.2-2'}}</h6>
        </div>
        <div>
            <h6 *ngIf="vendorServiceModel.unitsAvailable != null">{{vendorServiceModel.unitsAvailable}} units available</h6>
        </div>
      

      </div>
    </div>


  </div>
</div>