<div class="container"> 
    <h1>Guest List</h1>
    <div class="guest-list">
        <p *ngIf="!guests"><em>Loading...</em></p>
        <table class='table table-striped' *ngIf="guests">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Is Going?</th>
                    <th>test</th>
                    <button type="submit" mat-button (click)="addGuestClicked()">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <button type="submit" mat-button (click)="deleteSelectedClicked()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let guest of guests">
                    <td>{{ guest.name }}</td>
                    <td>{{ guest.email }}</td>
                    <td>{{ guest.isGoing }}</td>
                    <td>
                        <div *ngIf="guest.isGoing">
                            <mat-icon>check</mat-icon>
                        </div>
                        <div *ngIf="!guest.isGoing && !guest.isUndecided">
                            <mat-icon>clear</mat-icon>
                        </div>
                        <div *ngIf="guest.isUndecided">
                            Undecided
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>