<div class="page-container"> 
    
    <h1>Guest List</h1>

    <mat-accordion>
        <mat-expansion-panel>

            <mat-expansion-panel-header>
            <mat-panel-title>
                Add Guest
            </mat-panel-title>
            </mat-expansion-panel-header>

            <form class="form" [formGroup]="guestForm" (ngSubmit)="onCreate()">

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input
                matInput
                placeholder="Name"
                formControlName="name"
                >
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                    autocomplete="email"
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    >
                </mat-form-field>

            <mat-action-row>
                <button type="submit" mat-button [disabled]="!guestForm.valid">
                <mat-icon>add</mat-icon>
                Add Guest
                </button>
            </mat-action-row>

            </form>

        </mat-expansion-panel>
    </mat-accordion>

    <div class="guest-container" *ngFor="let guest of guests">
        <div class="guest-item">

            <div class="guest-field">
                <mat-icon>person</mat-icon>
                <h5>{{ guest.name }}</h5>
            </div>

            <div class="email-field">
                <div>
                    <h6>{{ guest.email }}</h6>
                </div>
            </div>

            <div class="icons">

                <div class="status">
                    <mat-icon *ngIf="guest.isGoing">check</mat-icon>
                </div>
                <div class="status">
                    <mat-icon *ngIf="!guest.isGoing && !guest.isUndecided">clear</mat-icon>
                </div>
                <div class="status">
                    <mat-icon *ngIf="guest.isUndecided">info</mat-icon>
                </div>
                
                <button mat-button (click)="editClicked(guest)">
                    <mat-icon>edit</mat-icon>
                </button>
            
                <button mat-button (click)="delete(guest)">
                    <mat-icon>delete</mat-icon>
                </button>
                
            </div>
        </div>
    </div>
</div>