<div class="container">

  <h1>App Users</h1>

  <mat-accordion #expansion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Register User
        </mat-panel-title>
        <mat-panel-description>
          Add a user to the Users Database
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form class="form" [formGroup]="userForm" (ngSubmit)="onAddUser()">

        <mat-form-field class="options">
          <mat-select placeholder="Your Job Type" formControlName="role">
            <mat-option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input 
            required 
            autocomplete="email" 
            matInput 
            placeholder="ePugh@email.com"
            formControlName="email"
            >
          <mat-hint>This will become your username</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input 
            autocomplete="name" 
            matInput 
            placeholder="Evan Pugh"
            formControlName="name"
            >
        </mat-form-field>

        <br>
      

        <mat-action-row>
          <button type="submit" mat-button [disabled]="!userForm.valid">
            <mat-icon>add</mat-icon>
            Add User
          </button>
        </mat-action-row>

      </form>

    </mat-expansion-panel>
  </mat-accordion>

  <table class='table table-striped' *ngIf="users">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.userName }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <!-- <td *ngIf="auth.user.role === 'Admin'">
          <button type="button" mat-button (click)="onDeleteUser(user)">
              <a class="material-icons">delete_forever</a>
          </button>
        </td> -->
      </tr>
    </tbody>
  </table>
    
</div>