<h2 mat-dialog-title>
  <mat-icon>{{ data.iconName }}</mat-icon>
  {{ data.title }}
</h2>

<div class="email-subject">
    <span>Subject:&nbsp;&nbsp;</span>
    <input class="subject-title" matInput #subjectInput value="{{ data.subject }}">
</div>

<br>

<div class="email-content">
  <textarea cdkTextareaAutosize cdkTextareaAutosize #contentInput
  cdkAutosizeMinRows="2"
  cdkAutosizeMaxRows="3"
  #autosize="cdkTextareaAutosize"
  matInput>
    {{data.content}}
  </textarea>
</div>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="onClick(false)">{{ data.buttonText1 }}</button>
  <button mat-button mat-dialog-close (click)="onClick(true)">{{ data.buttonText2 }}</button>
</mat-dialog-actions>
