<h2 mat-dialog-title>
  <mat-icon>{{ data.iconName }}</mat-icon>
  {{ data.title }}
</h2>
<mat-form-field class="email-content">
    <textarea cdkTextareaAutosize cdkTextareaAutosize
    cdkAutosizeMinRows="2"
    cdkAutosizeMaxRows="5"
    #autosize="cdkTextareaAutosize"
    matInput>
      {{data.content}}
    </textarea>
  </mat-form-field>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ data.buttonText1 }}</button>
  <button mat-button mat-dialog-close (click)="onClickAffirm()">{{ data.buttonText2 }}</button>
</mat-dialog-actions>
